



<div class="row">

	<!-- left col div -->
	<div class="col-md-3" style="padding-left:40px;">
		<!-- category nav -->
		<accordion close-others="oneAtATime">
		    <accordion-group is-open="isCatFilterOpen">
		    	<accordion-heading>
		            Categories <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isCatFilterOpen, 'glyphicon-chevron-right': !isCatFilterOpen}"></i>
		        </accordion-heading>
		    	<!-- Category Navigation -->
				<div ng-repeat="(cat, count) in taxonomy" style="padding-left:20px">
			  		<div style="padding-left:{{cat.split('/').length*10}}px">
			  		<!--a ng-href="#/c/{{cat.replace('/','-')}}">{{cat.split('/')[cat.split('/').length-1]}}</a> ({{count}})-->
			  		<a ng-href="#/c/{{encodePath(cat)}}?q={{$routeParams.q}}">{{cat.split('/')[cat.split('/').length-1].replace(' and ',' & ')}}</a> ({{count}})
			  		</div>
				</div>
		    </accordion-group>
		</accordion>



		<!-- Facets -->
		<accordion ng-repeat="(facet, values) in facet_fields" close-others="oneAtATime" ng-if="facet!='cpath'">
			<accordion-group is-open="isFacetFilterOpen">
				<accordion-heading>
			    	<span ng-if="solr_params[facet+'.label']">
			       		{{solr_params[facet+'.label']}}
			   		</span>
			   		<!-- if the facet doesn't have a label being passed, use parseFacetLabel -->
			   		<span ng-if="!solr_params[facet+'.label']">
			   			{{parseFacetLabel(facet)}}
			   		</span>
			        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isFacetFilterOpen, 'glyphicon-chevron-right': !isFacetFilterOpen}"></i>
			    </accordion-heading>
				<div ng-repeat="(val, count) in values" style="padding-left:20px">
					<!--a ng-click="clickFacet(facet,val,$routeParams)">{{val}}</a> ({{count}}) -->
					<input ng-click="clickFacet(facet,val,$routeParams,filter_separator)" ng-checked="checkCheckbox(facet,val,$routeParams)" type="checkbox" /> {{val}} ({{count}})

				</div>
		    </accordion-group>
		</accordion>


	</div>
	<!-- /left col -->

	<!-- middle col -->
	<div class="col-md-9" style="padding-left:20px;padding-top:10px">
		<div class="col-md-12" align="center">
			<form class="form-inline" role="form" style="padding-bottom:10px">
					<input ng-model="query" name="Search" class="form-control input-lg" placeholder=""></input>
					<button type="button" ng-click="clickSearch(query)" class="btn btn-danger btn-lg">Search</button>
			</form>
		</div>
		<div class="col-md-12">

			Found {{grouped_field.ngroups}} products, {{grouped_field.matches}} skus.

		  <!--ul>
		    <li ng-repeat="doc in docs">
		      {{doc.name}} - {{doc.id}}
		      <p>{{doc.short_description}}</p>
		    </li>
		  </ul-->
		  <div ng-repeat="group in grouped_field.groups">
		  	<h5>{{group.groupValue}}</h5>

		  	<div class="col-md-12" style="padding-left:15px;height:90px" ng-repeat="doc in group.doclist.docs">

		  		<div class="col-md-3" style="height:90px">
		  			<span ng-if="doc.small_image != 'no_selection' && doc.small_image">
		  				<img src="img/product{{doc.small_image}}" width="60" height="90"/>
		  			</span>
		  			<span ng-if="doc.small_image == 'no_selection' || !doc.small_image">
		  				<img src="img/product/no_image.jpg" width="60" height="90"/>
		  			</span>
		  			
		  		</div>
		  		<div class="cold-md-9">

		  		{{doc.short_description}} <br />
		  		sku: <b>{{doc.sku}}</b>
		  		</div>
		  	</div>

			<a href="#">View all {{group.doclist.numFound}} skus.</a>
		  </div>


		</div>
	<!-- /middle -->
	</div>
</div>

